.vscode
.venv
.env
.pytest_cache

temp.py
cosine_similarity.py


recorded_video
recorded_audio
tmp
static
./static

*/__pycache__
utils/database/__pycache__

#/recorded_audio/*
#/recorded_video/*
/__pycache__
/static
predictions.csv