tensorflow==2.11
flask==2.3.0
pandas==1.5.3
torch==2.1.0
moviepy==1.0.3
transformers==4.30.0
opencv-python==4.7.0.72
scipy==1.10.0
imutils==0.5.4
dlib==19.24.0
pyaudio==0.2.11
librosa==0.10.0
sentence-transformers==2.3.0
accelerate==0.21.0   # Compatible version for Python 3.9
flask-cors==4.0.0    # Updated to the available version
pymongo==4.3.3
boto3==1.26.0
python-dotenv==1.0.0

# Ensure compatibility between Keras and transformers:
tf-keras==2.15.0
